<a href="https://colab.research.google.com/github/jinbeydev/id_pandas_series/blob/main/2_File_I_O_Load_Write_Data_From_to_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dibanding membuat DataFrame atau Series dari nol, pada prakteknya kita akan lebih banyak memuatnya dari file seperti CSV, EXCEL, JSON, HTML, dan lainnya. Atau bahkan dari relational database (SQL) seperti mysql, sqllite, postgres, dan lainnya.

# Jenis file yang di support
- CSV
- MS Excel
- JSON
- HTML
- LaTeX
- Fixed-Width Text File
- XML
- Local clipboard
- OpenDocument
- HDF5 Format
- Feather Format
- Parquet Format
- ORC Format
- Stata
- SAS
- SPSS
- Python Pickle Format
- SQL
- Google BigQuery

Untuk lebih jelas, bisa lihat di [sini](https://pandas.pydata.org/docs/user_guide/io.html#io-tools-text-csv-hdf5).

# Load data
## CSV File

## Excel File

## JSON File

# Write Data
## CSV File

## Excel File

# JSON File

## SQL (sqlite)

Sample diambil dari: https://www.sqlitetutorial.net/sqlite-sample-database/

In [3]:
import pandas as pd
import sqlite3

# Connect to SQL database
conn = sqlite3.connect("chinook.db")

# Load data from SQL database
df = pd.read_sql("SELECT * FROM employees", conn)
df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com