<a href="https://colab.research.google.com/github/jinbeydev/id_pandas_series/blob/main/2_File_I_O_Load_Write_Data_From_to_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dibanding membuat DataFrame atau Series dari nol, pada prakteknya kita akan lebih banyak memuatnya dari file seperti CSV, EXCEL, JSON, HTML, dan lainnya. Atau bahkan dari relational database (SQL) seperti mysql, sqllite, postgres, dan lainnya.

# Jenis file yang di support
- CSV
- MS Excel
- JSON
- HTML
- LaTeX
- Fixed-Width Text File
- XML
- Local clipboard
- OpenDocument
- HDF5 Format
- Feather Format
- Parquet Format
- ORC Format
- Stata
- SAS
- SPSS
- Python Pickle Format
- SQL
- Google BigQuery

Untuk lebih jelas, bisa lihat di [sini](https://pandas.pydata.org/docs/user_guide/io.html#io-tools-text-csv-hdf5).

# Load data

In [7]:
import pandas as pd

### CSV File

In [26]:
csv_df = pd.read_csv('id_corona_cases.csv', parse_dates=False)

csv_df.head(5)

,date,new_tested,acc_tested,new_confirmed,acc_confirmed,acc_negative,being_checked,isolated,new_released,acc_released,new_deceased,acc_deceased,positive_rate,negative_rate,decease_rate,release_rate,dailypositive_rate
0,2-Mar-20,NaN,339,2,2,335,2,2,0,0,0,0,0.59%,98.82%,0.00%,0.00%,0.00%
1,3-Mar-20,2.0,341,0,2,337,2,2,0,0,0,0,0.59%,98.83%,0.00%,0.00%,0.00%
2,4-Mar-20,31.0,372,0,2,356,14,2,0,0,0,0,0.54%,95.70%,0.00%,0.00%,0.00%
3,5-Mar-20,16.0,388,0,2,371,15,2,0,0,0,0,0.52%,95.62%,0.00%,0.00%,0.00%
4,6-Mar-20,62.0,450,2,4,422,24,4,0,0,0,0,0.89%,93.78%,0.00%,0.00%,3.23%

In [14]:
csv_df = pd.read_csv('id_corona_cases.csv', header = None)
csv_df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,date,new_tested,acc_tested,new_confirmed,acc_confirmed,acc_negative,being_checked,isolated,new_released,acc_released,new_deceased,acc_deceased,positive_rate,negative_rate,decease_rate,release_rate,dailypositive_rate
1,2-Mar-20,NaN,339,2,2,335,2,2,0,0,0,0,0.59%,98.82%,0.00%,0.00%,0.00%
2,3-Mar-20,2,341,0,2,337,2,2,0,0,0,0,0.59%,98.83%,0.00%,0.00%,0.00%
3,4-Mar-20,31,372,0,2,356,14,2,0,0,0,0,0.54%,95.70%,0.00%,0.00%,0.00%
4,5-Mar-20,16,388,0,2,371,15,2,0,0,0,0,0.52%,95.62%,0.00%,0.00%,0.00%

### Excel File

In [28]:
excel_df = pd.read_excel("excel_data.xlsx", sheet_name="Sheet1")
excel_df

     Name  Age Gender
0  Jinbey   12      M
1  Jhonny   20      M
2    Lily   30      F
3    Rosy   25      F

Kita juga bisa memakai context manager (untuk memastikan penanganan resource secara tepat dan otomatis).

In [32]:
with pd.ExcelFile("excel_data.xlsx") as xlsx:
  excel_df = pd.read_excel(xlsx, "Sheet1")
  
excel_df

     Name  Age Gender
0  Jinbey   12      M
1  Jhonny   20      M
2    Lily   30      F
3    Rosy   25      F

Kita bisa load multiple sheets dengan context manager.

In [36]:
with pd.ExcelFile("excel_data.xlsx") as xlsx:
  excel_df1 = pd.read_excel(xlsx, "Sheet1")
  excel_df2 = pd.read_excel(xlsx, "Sheet2")

excel_df2

        date  tested  positive  negative
0 2023-04-16     100        75        25
1 2023-04-17     200       100       100
2 2023-04-18     300       150       150
3 2023-04-19     200       100       100
4 2023-04-20     500       280       220
5 2023-04-21     250       150       100

### JSON File

In [40]:
json_df = pd.read_json('json_data.json')
json_df

     Name  Age Gender
0  Jinbey   12      M
1  Jhonny   20      M
2    Lily   30      F
3    Rosy   25      F

### SQL (sqllite)

Sample (`chinook.db`) diambil dari: https://www.sqlitetutorial.net/sqlite-sample-database/

In [6]:
import sqlite3

# Connect to SQL database
conn = sqlite3.connect("chinook.db")

# Load data dari SQL database
df = pd.read_sql("SELECT * FROM employees", conn)
df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

# Write Data

DataFrame yang akan kita pakai.

In [43]:
# membuat data baru
data = {'name': ['Jinbey', 'Jhonny', 'Virly'], 'age': [10, 40, 30]}

# DataFrame
df = pd.DataFrame(data)

### CSV File

In [44]:
df.to_csv('new_csv_data.csv')

new_csv_df = pd.read_csv('new_csv_data.csv')

new_csv_df

   Unnamed: 0    name  age
0           0  Jinbey   10
1           1  Jhonny   40
2           2   Virly   30

### Excel File

In [46]:
df.to_excel('new_csv_data.xlsx')

new_excel_df = pd.read_excel('new_csv_data.xlsx')

new_excel_df

   Unnamed: 0    name  age
0           0  Jinbey   10
1           1  Jhonny   40
2           2   Virly   30

### JSON File

In [48]:
df.to_json('new_csv_data.json')

new_json_df = pd.read_json('new_csv_data.json')

new_json_df

     name  age
0  Jinbey   10
1  Jhonny   40
2   Virly   30

### SQL (sqlite)

In [5]:
# Insert data ke SQL database
df.to_sql("users", conn, if_exists="replace")

# Check apakah data yang kita insert tadi benar ada di database chinook.db
new_df = pd.read_sql("Select * from users", conn)
new_df

   index    name  age
0      0  Jinbey   10
1      1  Jhonny   40
2      2   Virly   30