<a href="https://colab.research.google.com/github/jinbeydev/id_pandas_series/blob/main/2_File_I_O_Load_Write_Data_From_to_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dibanding membuat DataFrame atau Series dari *scratch*, pada prakteknya kita akan lebih banyak membuat DataFrame dari file seperti CSV, EXCEL, JSON, HTML, dan lainnya. Atau bahkan dari relational database (SQL) seperti mysql, sqllite, postgres, dan lainnya.

# Jenis file yang di support
- CSV
- MS Excel
- JSON
- HTML
- LaTeX
- Fixed-Width Text File
- XML
- Local clipboard
- OpenDocument
- HDF5 Format
- Feather Format
- Parquet Format
- ORC Format
- Stata
- SAS
- SPSS
- Python Pickle Format
- SQL
- Google BigQuery

Untuk lebih jelas, bisa lihat di [sini](https://pandas.pydata.org/docs/user_guide/io.html#io-tools-text-csv-hdf5).

# Memuat (*Load*) data

Sebelum menggunakan Pandas, kita perlu *import* Pandas.

In [16]:
import pandas as pd

### CSV File

In [17]:
csv_df = pd.read_csv('id_corona_cases.csv')

csv_df.head(5)

,date,new_tested,acc_tested,new_confirmed,acc_confirmed,...,positive_rate,negative_rate,decease_rate,release_rate,dailypositive_rate
0,2-Mar-20,NaN,339,2,2,...,0.59%,98.82%,0.00%,0.00%,0.00%
1,3-Mar-20,2.0,341,0,2,...,0.59%,98.83%,0.00%,0.00%,0.00%
2,4-Mar-20,31.0,372,0,2,...,0.54%,95.70%,0.00%,0.00%,0.00%
3,5-Mar-20,16.0,388,0,2,...,0.52%,95.62%,0.00%,0.00%,0.00%
4,6-Mar-20,62.0,450,2,4,...,0.89%,93.78%,0.00%,0.00%,3.23%

Kita juga bisa memberi *option* `header` untuk mengatur apakah baris pertama dari CSV file kita adalah header.

In [18]:
csv_df = pd.read_csv('id_corona_cases.csv', header = None)
csv_df.head(5)

,0,1,2,3,4,...,12,13,14,15,16
0,date,new_tested,acc_tested,new_confirmed,acc_confirmed,...,positive_rate,negative_rate,decease_rate,release_rate,dailypositive_rate
1,2-Mar-20,NaN,339,2,2,...,0.59%,98.82%,0.00%,0.00%,0.00%
2,3-Mar-20,2,341,0,2,...,0.59%,98.83%,0.00%,0.00%,0.00%
3,4-Mar-20,31,372,0,2,...,0.54%,95.70%,0.00%,0.00%,0.00%
4,5-Mar-20,16,388,0,2,...,0.52%,95.62%,0.00%,0.00%,0.00%

### Excel File

In [19]:
excel_df = pd.read_excel("excel_data.xlsx", sheet_name="Sheet1")
excel_df

     Name  Age Gender
0  Jinbey   12      M
1  Jhonny   20      M
2    Lily   30      F
3    Rosy   25      F

Kita juga bisa memakai *context manager* (untuk memastikan penanganan resource secara tepat dan otomatis).

In [20]:
with pd.ExcelFile("excel_data.xlsx") as xlsx:
  excel_df = pd.read_excel(xlsx, "Sheet1")
  
excel_df

     Name  Age Gender
0  Jinbey   12      M
1  Jhonny   20      M
2    Lily   30      F
3    Rosy   25      F

Kita bisa memuat *multiple sheets* dengan *context manager*.

In [21]:
with pd.ExcelFile("excel_data.xlsx") as xlsx:
  excel_df1 = pd.read_excel(xlsx, "Sheet1")
  excel_df2 = pd.read_excel(xlsx, "Sheet2")

excel_df2

        date  tested  positive  negative
0 2023-04-16     100        75        25
1 2023-04-17     200       100       100
2 2023-04-18     300       150       150
3 2023-04-19     200       100       100
4 2023-04-20     500       280       220
5 2023-04-21     250       150       100

### JSON File

In [22]:
json_df = pd.read_json('json_data.json')
json_df

     Name  Age Gender
0  Jinbey   12      M
1  Jhonny   20      M
2    Lily   30      F
3    Rosy   25      F

### SQL (sqllite)

Sample (`chinook.db`) diambil dari: https://www.sqlitetutorial.net/sqlite-sample-database/

In [23]:
import sqlite3

# Connect to SQL database
conn = sqlite3.connect("chinook.db")

# Load data dari SQL database
df = pd.read_sql("SELECT * FROM employees", conn)
df

,EmployeeId,LastName,FirstName,Title,ReportsTo,...,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,...,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,...,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,...,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,...,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,...,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,...,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,...,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,...,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

Ada banyak *option* yang kita bisa setting saat memuat data, dan itu bergantung pada jenis filenya. Untuk lebih jelasnya bisa dilihat [di sini](https://pandas.pydata.org/docs/user_guide/io.html).

# Menulis (*Write*) Data

DataFrame yang akan kita pakai.

In [24]:
# membuat data baru
data = {'name': ['Jinbey', 'Jhonny', 'Virly'], 'age': [10, 40, 30]}

# DataFrame
df = pd.DataFrame(data)

### CSV File

In [25]:
df.to_csv('new_csv_data.csv')

new_csv_df = pd.read_csv('new_csv_data.csv')

new_csv_df

   Unnamed: 0    name  age
0           0  Jinbey   10
1           1  Jhonny   40
2           2   Virly   30

### Excel File

In [26]:
df.to_excel('new_csv_data.xlsx')

new_excel_df = pd.read_excel('new_csv_data.xlsx')

new_excel_df

   Unnamed: 0    name  age
0           0  Jinbey   10
1           1  Jhonny   40
2           2   Virly   30

### JSON File

In [27]:
df.to_json('new_csv_data.json')

new_json_df = pd.read_json('new_csv_data.json')

new_json_df

     name  age
0  Jinbey   10
1  Jhonny   40
2   Virly   30

### SQL (sqlite)

In [28]:
# Insert data ke SQL database
df.to_sql("users", conn, if_exists="replace")

# Check apakah data yang kita insert tadi benar ada di database chinook.db
new_df = pd.read_sql("Select * from users", conn)
new_df

   index    name  age
0      0  Jinbey   10
1      1  Jhonny   40
2      2   Virly   30